.burger_menu{
    display: none;
}
.header{
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    height: 6em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
    top: 0;
    background: linear-gradient(to bottom, #000 0%, transparent 100%);
    border-bottom: 1px solid white;
    opacity: .8;
    backdrop-filter: blur(0px);
    transition: all 0.4s ease-in-out;
}
.header_scrolled {
    position: fixed;
    border-bottom: 1px solid #e8e8e84d;
    top: 0;
    height: 6.2em;
    padding-left: 22px;
    padding-right: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
    background-color: #1c1c1c;
    transition: all 0.6s ease-in-out;
}
.title{
    color: #fff;
    font-size: 3em;
    font-weight: 600;
}
.input{
    display: none;
}
.nav{
    display: flex;
    gap: 1.5em;
}
@media screen and (max-width: 900px) {
    .title{
        font-size: 2em;
    }
    .header{
        height: 5em;
    }
    .header_scrolled {
        height: 5.1em;
    }
}
@media screen and (max-width: 650px){
    .header{
        height: 3.7em;
    }
    .header_scrolled{
        height: 3.6em;
    }
    .title{
        font-size: 1.7em;
    }
    .burger_menu{
        display: block;
    }
    .nav{
        display: none;
    }
}