.body{
    background: #1c1c1c;
}
.carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 2em 3em;
}
.block1{
    display: flex;
    align-items: center;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(https://ik.imagekit.io/subanime/jujutsukaisenPoster2);    
}

.block1__main{
    display: flex;
    flex-direction: row;
    width: 1440px;
    padding-left: 1.25rem;
    margin: 0 auto;
    justify-content: space-between;
    width: 90em;
}

.block1__title{
    font-size: 5.5em;
    font-weight: 700;
}

.block1__synopsis{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 30em;
    font-size: 25px;
}

.block1__wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.block1__button{
    padding: 10px 30px;
    background-color: #1c1c1c;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.block1__button:hover {
    opacity: 0.8;
}

.jujutsu__wrapper{
    height: 25em;
    border-radius: 1.5em;
    overflow: hidden;
}
.jujutsu__image{
    height: 100%;
    width: 100%;
}
.block2{
    width: 1440px;
    margin: 0 auto;
    padding: 1.25em;
}
@media screen and (max-width: 1440px){
    .block1__main{
        width: 100%;        
    }
    .block2{
        width: 100%;
    }
}
@media screen and (max-width: 1145px) and (min-width: 1026px){

    .block1__main{
        padding-left: 9em;
    }

    .block1__title{
        font-size: 4em;
    }

    .block1__synopsis{
        font-size: 16px;
    }

    .block1__button{
        padding: 10px 25px;
    }
    .block1{
        height: 60vh;
    }
}

@media screen and (max-width: 1025px) and (min-width: 935px){
    .block1__title{
        font-size: 3em;
    }

    .block1__synopsis{
        font-size: 13px;
    }

    .block1__button{
        padding: 8px 20px;
    }

    .block1__main{
        padding: 0 8em;
    }

}
@media screen and (max-width: 934px) {
    .block1__main{
        padding-left: 7em;
    }
    .block1{
        height: 500px;
    }
    .block1__title{
        font-size: 2.8em;
    }

    .block1__synopsis{
        font-size: 12px;
    }

    .block1__button{
        padding: 8px 17px;
    }
}
@media screen and (max-width: 650px) {
    .block1{
        height: 380px;
    }
    .block1__main{
        padding: 0;
        padding-left: 1.25em;
    }
}
@media screen and (max-width: 500px) {
    .block1{
        height: 320px;
    }
}
@media screen and (max-width: 400px){
    .block1__title{
        font-size: 1.9em;
    }
    .block1__button{
        font-size: 1em;
    }
    .block1__synopsis{
        width: 100%;
    }
}