.body{
    background: #1c1c1c;
}
.carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 2em 3em;
}
.block1{
    display: flex;
    align-items: center;
    height: 50vw;
    background-size: cover;
    background-position: center; 
}

.block1__main{
    display: flex;
    flex-direction: row;
    width: 1440px;
    padding-left: 1.5rem;
    margin: 0 auto;
    justify-content: space-between;
    width: 90em;
}

.block1__title{
    font-size: 5.5em;
    font-weight: 700;
}

.block1__synopsis{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 30em;
    font-size: 25px;
}

.block1__wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    z-index: 1;
}

.block1__button{
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}
.block1__button{
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.block1__button:hover {
    opacity: 0.8;
}

.jujutsu__wrapper{
    height: 25em;
    border-radius: 1.5em;
    overflow: hidden;
}
.jujutsu__image{
    height: 100%;
    width: 100%;
}
.block2{
    width: 1440px;
    margin: 0 auto;
    padding: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    bottom: 12em;
    z-index: 3;
}
@media screen and (max-width: 1480px){
    .block1__main{
        width: 100%;        
    }
    .block2{
        width: 100%;
        bottom: 7em;
    }
    .block1__title{
        font-size: 4em;
    }
}
@media screen and (max-width: 1145px){

    .block1__title{
        font-size: 4em;
    }

    .block1__synopsis{
        font-size: 16px;
    }

    .block1__button{
        padding: 9px 24px;
        font-size: 1.3em;
    }
    .block1{
        height: 75vh;
    }
}

@media screen and (max-width: 1025px){
    .block1__title{
        font-size: 3em;
    }

    .block1__synopsis{
        font-size: 13px;
    }

    .block1__button{
        padding: 7px 18px;
        font-size: 1em;
    }

    .block1__main{
        padding: 0 8em;
    }
    .block2{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

}
@media screen and (max-width: 934px) {
    .block1__main{
        padding-left: 5em;
    }
    .block1{
        height: 500px;
    }
    .block1__title{
        font-size: 2.8em;
    }

    .block1__synopsis{
        font-size: 12px;
    }

    .block1__button{
        padding: 6px 16px;
        font-size: .9em;
    }
}
@media screen and (max-width: 650px) {
    .block1{
        height: 380px;
        display: flex;
        align-items: end;
        padding-bottom: 3em;
    }
    .block1__main{
        padding: 0;
        padding-left: 1.5em;
    }
    .block1__title{
        font-size: 2em;
    }
    .block1__button{
        padding: 5px 12px;
        font-size: .8em;
    }
    .block2{
        position: relative;
        bottom: 0;
    }
}
@media screen and (max-width: 500px) {
    .block1{
        height: 320px;
        padding-bottom: 2em;
    }
    .block2{
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media screen and (max-width: 400px){
    .block1__main{
        padding-left: 1em;
    }
    .block1{
        height: 250px;
        padding-bottom: 2em;
    }
    .block1__title{
        font-size: 1.1em;
        font-weight: 600;
    }
    .block1__button{
        font-size: .6em;
    }
    .block1__synopsis{
        width: 90%;
    }
    .block1__wrapper{
        gap: .7em;
    }
}