.swiper__slide{ 
    width: 17% !important;  
    height: auto;
}  
.swiper__slide img{ 
   width: 100%;
   object-fit: cover; 
   object-position: center;
} 
@media screen and (max-width:1200px) {
    .swiper__slide{ 
        width: 19%!important; 
    } 
}
@media screen and (max-width:900px) {
    .swiper__slide{ 
        width: 22%!important; 
    } 
}
@media screen and (max-width:800px) {
    .swiper__slide{ 
        width: 25%!important; 
    } 
}
@media screen and (max-width:650px) {
    .swiper__slide{ 
        width: 33%!important; 
    } 
}