.block1{
    display: flex;
    align-items: center;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://ik.imagekit.io/subanime/jujutsukaisenPoster2);
    
}

.block1__main{
    display: flex;
    flex-direction: row;
    padding: 0 10em;
    justify-content: space-between;
    width: 90em;
}

.block1__title{
    font-size: 5em;
    font-weight: 700;
}

.block1__synopsis{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 30em;
    font-weight: 600;
    font-size: 20px;
}

.block1__wrapper{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.block1__button{
    padding: 10px 30px;
    background-color: #1c1c1c;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.block1__button:hover {
    opacity: 0.8;
}

.jujutsu__wrapper{
    height: 25em;
    border-radius: 1.5em;
    overflow: hidden;
}
.jujutsu__image{
    height: 100%;
    width: 100%;
}

.body__card{
    border-radius: 1em;
    overflow: hidden;
}

.body__card{
    overflow: hidden;
    border-radius: 0.5em;
}
.body__image_wrapper{
    overflow: hidden;
    height: 18em;
}
.body__image_wrapper img{
    border-radius: 0.5em;
}
.body__title{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}
.body__button{
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}   
.body__slide{
    padding: 0 1px;
}
@media screen and (max-width: 1145px) and (min-width: 1026px){

    .block1__main{
        padding: 0 9em;
    }

    .block1__title{
        font-size: 4em;
    }

    .block1__synopsis{
        font-size: 16px;
    }

    .block1__button{
        padding: 10px 25px;
    }
    
}

@media screen and (max-width: 1025px) and (min-width: 935px){
    .block1__title{
        font-size: 3em;
    }

    .block1__synopsis{
        font-size: 13px;
    }

    .block1__button{
        padding: 8px 20px;
    }

    .block1__main{
        padding: 0 8em;
    }

}
@media screen and (max-width: 934px) {
    .block1__main{
        padding: 0 7em;
    }

    .block1__title{
        font-size: 2.8em;
    }

    .block1__synopsis{
        font-size: 12px;
    }

    .block1__button{
        padding: 8px 17px;
    }
}