header{
    position: fixed;
    height: 65px;
    padding: 0 25px;
    width: 100%;
    background: #1c1c1c;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 60px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.title h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.link{
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}
.link:hover{
    color: #ff4500;
}
.link:active{
    color: #792000;
}
.tema{
    width: 30px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}
.search{
    width: 20em;
    display: flex;
    gap: 1em;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: #fff;
}
.search_android{
    display: none;
}
@media screen and (max-width: 900px) {
    .header_menu{
        display: block;
        color: #fff;
        display: flex;
        gap: 2em;
    }
    .search{
        width: 15em;
    }
}
@media screen and (max-width: 520px){
    header{
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        gap: 0.5em;
    }
    .title h1{
        font-size: 2em;
    }
    .nav{
        display: none;
    }
    .search{
        display: none;
    }
    .search_android{
        display: block;
        width: 90%;
    }
}
@media screen and (max-width: 250px){
    .title h1{
        font-size: 1.5em;
    }
    
}