header{
    position: fixed;
    height: 65px;
    padding: 0 25px;
    width: 100%;
    background: #1c1c1c;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 60px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.nav{
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
}
.link{
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}
.link:hover{
    color: #ff4500;
}
.link:active{
    color: #792000;
}
.tema{
    width: 30px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}
.search{
    width: 20%;
    display: flex;
    gap: 1em;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: #fff;
}
.search_button{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background: #ff4500;
    border-radius: 1em;
    cursor: pointer;
}