.swiper__slide{ 
    width: 17% !important;  
    height: auto;
}  
.swiper__slide img{ 
   width: 100% ;
   object-fit: cover; 
   object-position: center;

} 
@media screen and (max-width:1200px) {
    .swiper__slide{ 
        width: 20%!important; 
        height: auto;
    } 
}
@media screen and (max-width:900px) {
    .swiper__slide{ 
        width: 30%!important; 
        height: auto;
    } 
}
@media screen and (max-width:500px) {
    .swiper__slide{ 
        width: 45%!important;
        height: auto;
    } 
}