.block_1{
    display: flex;
    flex-direction: column;
    background: #1c1c1c;
    overflow: hidden;
    padding-bottom: 20em;
    gap: 3em;
}
.block_1__shapka{
    display: flex;
    align-items: center;
    height: calc(330px);
    background-size: cover;
    background-position: center;
    background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/21-wf37VakJmZqs.jpg);}
.block_1__titles{
    display: flex;
    width: 1440px;
    padding-left: 1.25rem;
    margin: 0 auto;
    gap: 4em;
}
.persImg{
    width: 350px;
    border-radius: 1em;
    margin-top: -9em;
}
.ratings{
    display: flex;
    gap: 0.5em;
    margin-bottom: 3em;
}
.title{
    font-size: 3em;
    font-weight: 500;
}
.rating{
    font-size: 1.2em;
    margin-top: 0.3em;
}
.span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    width: 10em;
    padding: 10px 0;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    transition-duration: .1s;
    cursor: pointer;
    background: rgb(44 44 44 / 1)
}
.block_1__details{
    width: 1440px;
    padding-left: 1.25rem;
    margin: 0 auto;
}
@media screen and (max-width: 1440px) {
    .block_1__titles{
        width: 100%;
    }
    .block_1__details{
        width: 100%;
    }
    .block_1__shapka{
        height:  calc(250px);
    }
}
@media screen and (max-width: 800px) {
    .block_1__titles{
        gap: 2em;
    }
    .title{
        font-size: 2em;
    }
    .persImg{
        width: 250px;
    }
    .block_1__shapka{
        height:  calc(200px);
    }
}
@media screen and (max-width: 550px) {
    .persImg{
        width: 200px;
    }
    .title{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 450px){
    .block_1__titles{
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding-left: 0;
    }
    .persImg{
        width: 300px;
    }
}