.footer{
    width: 90em;
    margin: 0 auto;
    border-radius: 2em;
    position: relative;
    top: 120px;
    background: #1c1c1c;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5em;
    padding: 50px 3em;
}
.card{
    overflow: hidden;
    border-radius: 0.5em;
    height: 23em;
    position: relative;
}
.card img{
    width: 100%;
    display: block;
}
.title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #000 0%, transparent 100%); 
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    padding-top: 7em;
}
@media screen and (max-width: 1501px) and (min-width: 1051px) {
    .footer{
        width: 67em;
    }
    .card{
        height: 15em;
    }
    .title{
        font-size: 20px;
    }
}