*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 90em;
  margin: 0 auto;
  position: relative;
  top: 140px;
  display: grid;
  grid-template-columns: 30% 1fr;
  border-radius: 1em;
  overflow: hidden;
  gap: 2.5rem;
  padding: 0 1.3em;
}
.bg-custom-color {
  background-color: rgb(33 33 33);
}
.btn-base {
  padding: 14px 16px;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
  transition-duration: .1s;
  cursor: pointer;
}
.btn-disabled {
  background-color: #21212199 !important;
  color: #fff9 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
@media screen and (max-width: 1501px) and (min-width: 1251px) {
  .main{
      width: 100%;
  }
}
@media screen and (max-width: 1250px) and (min-width: 1051px){
  .main{
    width: 60em;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1050px) and (min-width: 801px){
  .main{
    width: 50em;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px){
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.container::-webkit-scrollbar{
  display: none
}
.container div{
  width: 100%;
}