@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  background: 0 0;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-family: Rubik,sans-serif;
}
body {
  background: #131313 !important;
  color: white !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}