.sort{
    background: linear-gradient(to bottom, rgba(17, 33, 46, 0.66) 0%, #11212e 800px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.sort_links{
    display: flex;
    flex-direction: column;
}
.sort_link{
    width: 100%;
    padding: 0.5em 0;
    padding-left: 2em;
    transition: all 0.5s;
}
.sort_link:hover{
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.162);
}

.sort__rand{
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.7em;
}
.sort__rand_title{
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
}
.sort__image_wrapper{
    height: 17em;
}
.sort__title_wrapper{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    background: linear-gradient(to top, #000 0%, transparent 100%);
    display: flex;
    align-items: end;
    padding: 1em 2em;
}
.sort__title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    font-size: 18px;
}
@media screen and (max-width: 1250px){
    .sort{
        display: none;
    }
}